h4{
    text-align: center;
    letter-spacing: 0.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(236, 219, 197);
}

h2{
    text-align: center;
    letter-spacing: 0.3rem;
}

h5{

    text-align: center;
}
hr { 
    margin-left: 47%;
    margin-right: 47%;
    border-style: dotted;
    border-width: 0.5%;
}
.hinh{
    text-align: center;
}
a{
    font-family: Arial, Helvetica;
    color: black;
    text-decoration: none;
}
a:hover{
    color: red;
}