* {
    font-family: Arial,sans-serif;
    background-color: lightcyan;
    text-decoration: none;
}
img {
    width: 30%;
    padding: 1em;
    margin: 1em;
    border: lightpink solid medium;
}
.f1 {
    float: left;
}
.f2 {
    float: right;
}
.f3 {
    float: left;
}
div{
    font-size:large;
    margin: 1em;
}